@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@media (max-width: 512px) {
  .mainColChat {
    display: none !important;
  }
  .mainCard {
    padding: 10px 15px !important;
  }
  .formMessage {
    margin: 10px !important;
    width: 100% !important;
  }
  .cardRoom {
    position: fixed;
    top: 0;
  }
  .plusMessage {
    padding-top: 30px !important;
  }
  .sticker {
    padding-top: 30px !important;
  }
  .pics {
    padding-top: 30px !important;
  }
}
.modalPhone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #232323;
  margin-bottom: 18px;
  text-align: center;
  margin-top: 30px;
}
.textModalPhone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #232323;
  margin-bottom: 18px;
  text-align: center;
  margin-top: 30px;
}
.chat {
  max-width: 100%;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.room {
  margin: 10px 0;
}

h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

.marioChat {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.chatWindow {
  height: 400px;
  background: #f9f9f9;
  overflow-y: scroll;
}
.rowChat {
  padding: 0px !important;
  width: 100%;
}
.colChat {
  padding: 0px !important;
}
.left {
  overflow-y: scroll;
}
.output p {
  text-align: left;
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

.feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

.output strong {
  color: #575ed8;
}

.inputMessage {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

.btnSubmit {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
.mainCard {
  padding: 33px 30px;
  border: none;
}
.mainCol {
  height: 650px;
  padding: 0px;
  border-right: 1px solid #e5e5e5;
  overflow-y: scroll;
  flex-wrap: nowrap;
}
.title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 34px;
  text-align: left;
  letter-spacing: -0.165px;
  color: #7e98df;
  cursor: pointer;
}
.drop {
  float: right;
  background-color: white !important;
  border: white;
  padding: 0px;
}
.drop:focus {
  box-shadow: none !important;
}
.dropFriend {
  padding: 0px;
  background-color: white;
  border: white;
}
.dropFriend:hover {
  padding: 0px;
  background-color: white;
  border: white;
}
.chatTxtContainer {
  color: #ffffff;
  padding: 2% 4%;
  width: fit-content;
}
.dropFriend:focus {
  padding: 0px;
  background-color: white !important;
  border: white;
  box-shadow: none !important;
}
.menuDrop {
  background: #7e98df;
  border-radius: 35px 10px 35px 35px;
  margin-top: 39px !important;
  border: #7e98df;
}
.item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  margin: 10px 40px;
}
.item:hover {
  width: 70px;
  background-color: #7e98df;
  color: #555;
}

.cardProfile {
  margin-top: 50px;
  border: none;
  cursor: pointer;
}
.profileImg {
  width: 82px;
  height: 82px;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 100%;
  object-fit: cover;
}
.profileName {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.165px;
  text-align: center;
  color: #232323;
  margin-top: -25px;
}
.profileId {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.335px;
  color: #848484;
  margin-top: -10px;
}
.cardContact {
  margin-top: 10px;
  width: 100%;
  border: none;
  margin-bottom: -30px;
}
.searchMessage {
  height: 60px;
  background: #fafafa;
  border-radius: 15px;
}
.searchMessage::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: -0.165px;
  color: #848484;
}

.plus {
  padding-top: 15px;
  cursor: pointer;
}
.mainColChat {
  padding-top: 350px;
}
.roomChat {
  padding: 0px;
}
.mainTextChat {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  color: #848484;
}
.contactList {
  padding: 15px;
  border: none;
  cursor: pointer;
}
.ppImg {
  width: 55px;
  margin-top: 15px;
  border-radius: 20% 20% 20% 20%;
  object-fit: cover;
}
.name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.165px;
  color: #232323;
  margin-bottom: 10px;
  margin-top: 18px;
}
.bio {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  color: #7e98df;
}
.time {
  font-family: "Rubik", sans-serif;
  margin-top: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #848484;
}
.notif {
  font-family: "Rubik", sans-serif;
  background: #7e98df;
  border-radius: 30px;
  border: #7e98df 1px solid;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #ffffff;
  float: right;
}
.roomImg {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  object-fit: cover;
}
.cardRoom {
  padding: 28px 53px;
  border: none;
}
.imgMenuProfile {
  float: right;
  padding: 20px;
  cursor: pointer;
  margin-left: 32px;
}
.nameFriend {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  letter-spacing: -0.165px;
  color: #232323;
  margin-bottom: 7px;
  margin-left: -140px;
  margin-top: 10px;
}
.statusFriend {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  letter-spacing: -0.165px;
  color: #7e98df;
  margin-left: -140px;
}
@media (max-width: 767.98px) {
  .statusFriend {
    margin-left: 8px;
  }
  .nameFriend {
    margin-left: 8px;
  }
  .cardProfile {
    display: none;
  }
}
.cardMessage {
  position: fixed;
  bottom: 0px;
  border: none;
}
.chatRoom {
  padding: 0px;
}
.formMessage {
  font-family: "Rubik", sans-serif;
  background: #fafafa;
  border-radius: 15px;
  width: 912px;
  height: 60px;
  margin: 30px 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: -0.165px;
  color: #848484;
  border: none;
}
.formMessage::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  letter-spacing: -0.165px;
  color: #848484;
}
.formMessage:focus {
  box-shadow: none;
}
.plusMessage {
  padding-top: 50px;
  cursor: pointer;
}
.sendMessage {
  padding-bottom: 50px;
  cursor: pointer;
  transform: rotate(180deg);
}
.sticker {
  padding-top: 50px;
  cursor: pointer;
}
.pics {
  padding-top: 50px;
  cursor: pointer;
}
.profile {
  cursor: pointer;
}
.handleImage {
  cursor: pointer;
}
.chatTxtContainer {
  color: #ffffff;
  padding: 2% 4%;
  width: fit-content;
}
.sender {
  background-color: #70a1eb;
  border-radius: 24px 24px 24px 6px;
}

.receiver {
  background-color: #054cb8;
  border-radius: 24px 24px 6px 24px;
}
.message {
  background: #9db4f3;
  border-radius: 35px 35px 35px 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 185.17%;
  letter-spacing: -0.165px;
  padding: 17px 33px;
  color: #ffffff;
  width: max-content;
}

.messageImg {
  border-radius: 20px;
  width: 54px;
  height: 54px;
  margin-left: 54px;
}
.bg {
  background-color: #fffafa;
}
